<div class="container" role="main">

  <div class="center">
    <div class="pic">
      <img src="http://www.fillmurray.com/300/300">
    </div>


<h1><%= @user.name %></h1>

<% if @user.admin %>
  ADMIN
<% else %>
  Guest
<%end%></br></br>

<p>Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %></p>

</div>